.anothercard{
    background-color: rgb(236, 96, 89);
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    
    
    text-align: center;
    padding: 15px;
    color: black;
    margin-top: 10px;
    margin: 10px auto;

}
.anothercard[data-variant ="primary"]{
    background-color: rgb(25, 207, 31);
}
.anothercard[data-variant ="secondary"]{
    background-color: rgb(156, 118, 247);
}
.anothercard[data-variant ="tertiary"]{
    background-color: rgb(225, 183, 45);
}
.anothercard[data-variant ="highschool"]{
    background-color: rgb(225, 54, 45);
    
}
